In [2]:
print("Hello World")

Hello World

In [3]:
print('Hello World')

Hello World

In [4]:
print("""üç tırnak ifadesi önemli bir yazım şeklidir.""")

üç tırnak ifadesi önemli bir yazım şeklidir.

In [5]:
print('''üç tırnak ifadesi önemli bir ifadedir''')

üç tırnak ifadesi önemli bir ifadedir

In [6]:
print("üç tırnak ifadesi önemli 
      bir yazım şeklidir.")

SyntaxError: unterminated string literal (detected at line 1) (2937089776.py, line 1)

In [1]:
print("""üç tırnak ifadesi önemli 
      bir yazım şeklidir.""")
# Tek bir stringi yukarıdaki gibi iki satırda yazmak istediğimizde
# üç tırnak ile yapabiliyoruz aksi takdirde tek tırnakla
# bu işlem hata verecektir. Hata örneği yukarıdadır.

üç tırnak ifadesi önemli
      bir yazım şeklidir.

In [2]:
print("'Techpro'")

'Techpro'

In [3]:
print("'")

'

In [5]:
print(""""'""") # 3 tırnağın önceliği vardır.

"'

In [7]:
print(""""""")

SyntaxError: unterminated string literal (detected at line 1) (29649980.py, line 1)

pep8 Kuralları

# pep8 Kuralları

### pep8 Kuralları

###### pep8 Kuralları

In [8]:
print("""bugün ptyhon dersinin ikinci günü,
      Derse başlarken hoca başladı bir tırnak mevzusuna bir türlü bitmedi.
      inşallah başıma bela olmaz.""") 
 #pep8 derki, bir satırda 79 karakterden fazla olmasın.(ama olsada çalışır)

bugün ptyhon dersinin ikinci günü,
      Derse başlarken hoca başladı bir tırnak mevzusuna bir türlü bitmedi.
      inşallah başıma bela olmaz.

# Comment

In [9]:
3 + 5  # 3 ile 5 in toplamıdır.

8

# Variables (Degiskenler)

In [10]:
print("Techrpo education")

Techrpo education

In [11]:
course = "Techpro Education"

In [12]:
print(course)

Techpro Education

In [13]:
name = "Mete"

In [14]:
print(name)

Mete

In [16]:
print(age)

36

In [15]:
age = 36

In [22]:
age_1 = 36
print(age_1)
# Python çalışma mantığı yukarıdan aşağıya göredir. Aynı satırda da soldan sağa

36

In [23]:
pi_number = 3.14

In [24]:
4_name = "mürü" 
# Degisken tanımlarken numerik karakterler basta olamaz.

SyntaxError: invalid decimal literal (3710436803.py, line 1)

In [25]:
name_5 = "aytac"
name_6 = "erkan"
age_3 = 33

In [26]:
print(name_6, name_5, age_3)

erkan aytac 33

In [29]:
name_7, name_8 = "mürü", "mete" # Yan yana değişken tamamlamakta mümkündür

In [28]:
print(name_7, name_8)

mürü mete

In [30]:
name_9 = name_10 = "ahmet" # aynı değeri farklı değişkenlere böyle atayabiliriz.

# Data Types (Veri Tipleri)

In [32]:
"hello world" # string bir tiptir. Tırnak işareti arasına yazılan herşeydir.

'hello world'

In [35]:
"35" # string bir ifadedir.

'35'

In [37]:
type("hello world") # bir değerin tipini type fonksiyonu ile görürüz.

str

In [41]:
type(25) #integer tipi bir değerdir. (tam sayılar)

int

In [42]:
type(3.14) # float tipi bir değerdir. (ondalıklı sayılar)

float

In [45]:
type(False) #Boolean tipidir. bunlar False ve True'dur.
# false matematiksel olarak 0 dır. Yokluğu hiçliği ifade eder 
# True matematiksel olarak 1 dir. var olmayı ifade eder

bool

In [3]:
print("""Techpro"""'gül'"a")

Techprogüla

In [1]:
bool("0")

True

# Type Conversion

### All types to str (bütün tipleri stringe çevirmek)

In [1]:
age = 32 
type(age)

int

In [5]:
str(age)

'32'

In [8]:
age = str(age) # Eğer bu şekilde atama yapılmaz ise age'in tipi integer olarak kalır.

In [4]:
type(age)

str

In [9]:
str(True)

'True'

In [10]:
str(3.14)

'3.14'

### str to int çevirme işlemi

In [14]:
age_1 = "33"
type(age_1)

str

In [15]:
int(age_1)

33

In [16]:
2024 - age_1

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [17]:
2024 - int(age_1)

1991

In [19]:
int(32a) # string bir ifadeyi çevirebilmek için int'a benzemesi gerekir. Aynı durum float için de geçerlidir.

SyntaxError: invalid decimal literal (1445462281.py, line 1)

### str to float

In [20]:
float("3.14")

3.14

### float to int, int to float

In [21]:
int (5.4)

5

In [25]:
int(5.6) # int çevrimi yaparken bu modül noktadan sonrasını siler. (Bilinmesi gereken budur.)

5

In [24]:
int(5.9999999999999999) # noktadan sonra 16. karakteri yazarsan yukarıya yuvarlar bu modül. (istisnai bir durumdur.)

6

In [26]:
float(6)

6.0

In [28]:
int("3.14") # içerisinde ki str ifade int' a benzemediği için çevirmez

ValueError: invalid literal for int() with base 10: '3.14'

In [29]:
int(float("3.14"))

3

### bool to int, bool to float

In [30]:
int(False)

0

In [31]:
int(True)

1

In [32]:
float(False)

0.0

In [33]:
float(True)

1.0

# Arithmetic Operators (Aritmetik Operatörler)

In [35]:
3 + 5

8

In [36]:
8 * 5

40

In [37]:
9 - 4

5

In [42]:
40 / 10 # Bölme işleminin sonucu her zaman float tiptedir. işaretin adı division

4.0

In [40]:
2.4 * 5 # bir işlemde float bir ifade varsa her zaman sonuç float tiptedir.

12.0

In [43]:
25 // 3 # kalansız bölümü verir. yani sadece bölüm kısmını alır. işaretin adı floor division

8

In [44]:
25 % 3 # modulus işareti. bu işaret kalan kısımı verir bize.

1

In [45]:
2 ** 3 # bir sayının üssünü alma işlemidir.

8

In [49]:
x = (4 + 2) ** (4 ** (1 * 2 / 2) / 2) # işlem içerisinde bölme işlemi olduğundan sonuç float olur.
print(x)

36.0

#### yarıçapı 7 olan bir dairenin alanını bulan python kodunu yazın. pi = 3.14

In [51]:
r = 7 
pi_number = 3.14
alan = pi_number * (r ** 2)
print("Yarıçapı 7 olan dairenin alanı : ", alan)

Yarıçapı 7 olan dairenin alanı :  153.86

#### Ödev: bir kenarı 5 diğer kenarı 12 olan dik üçgenin hipotenüsünü bulan 
#### python kodunuz yazın

In [2]:
a = 5 
b = 12
c = ((a ** 2) + (b ** 2)) ** 0.5 
print ("Hipotenüs'ün uzunluğu ", c,"'tür.", sep = "")

Hipotenüs'ün uzunluğu 13.0'tür.

In [2]:
round(13.413586797, 2) #round fonksiyonu kullanarak noktadan sonra
#kaç basamak görmek istiyorsak basamak sayısını yazarak görebeliriz.

13.41

In [6]:
round(13.4546556)  # raound fonskiyonu normalde ondalıklı sayıyı tam sayıya yuvarlar.

13

# print() Function (print Fonksiyonu)

In [14]:
print("mete", "mürü", "taha", sep="-")

mete-mürü-taha

In [10]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [11]:
print("orkun")
print("sedat")
print("aytaç")

orkun
sedat
aytaç

In [15]:
print("orkun", end = "**")
print("sedat")  # end parametresi varsayılan olarak \n dir ve yeni satıra geçer.
print("aytaç")

orkun**sedat
aytaç

In [16]:
print("hello world", end = "--")
print("35", 40, "75", sep = "**")
print("son satır")

hello world--35**40**75
son satır

# input ()

In [17]:
#input() ile aldığımız bütün veriler string'tir.

In [18]:
input("Lütfen yaşınızı girin:")

'36'

In [19]:
age = input("lütfen yaşınızı girin:")

In [20]:
age

'36'

In [21]:
2024 - int(age) # age input ile geldiğinden int tipine çevirerek işlem yaparız.

1988

In [22]:
age = int(input("Lütfen yaşınızı rakamla giriniz: "))
2024 - age

1988

#### kullanıcıdan kilo ve boy bilgisini alan ve girilen bilgilere göre vücut kitle indeksini(vki) hesaplayan kodu yazın

In [29]:
kilo = int(input("Lütfen Kilonuzu Kg olarak giriniz:"))
boy = float(input("lütfen boyunuzu metre olarak giriniz:"))
vki = kilo / (boy ** 2)
print("Vücut kitle indeksiniz : ", round(vki,2))

Vücut kitle indeksiniz :  22.79

## Escape Sequences

In [30]:
print ('I'm a python teacher') 
# burada escape sequenses kullanırsak bu hatayı önleyebiliriz.

SyntaxError: unterminated string literal (detected at line 1) (256345490.py, line 1)

In [31]:
print('I\'m a python teacher') 
# \ işareti bir sonraki karakteri görür işlevini yaptırmadan devam eder.

I'm a python teacher

In [32]:
print("bu ders çok uzadı sanki. \nBi an önce bitse mi acaba?")
# \n bir enter tuşuna basmak anlamına gelir ve o noktadan 
# itibaren alt satıra geçer.

bu ders çok uzadı sanki.
Bi an önce bitse mi acaba?

In [33]:
print("betül", "ayşe", "aytaç", sep = "\t") 
# \t bir tab tuşuna basmak anlamına gelir. Bir tab boşluk yapar.

betül	ayşe	aytaç

In [35]:
print("bu ders çok uzadı sanki.\bBi an önce bitse mi acaba?")
#\b tuşu bir adet backspace tuşuna basmak anlamına gelir. Geriye doğru silme yapar 1 karakter.

bu ders çok uzadı sankiBi an önce bitse mi acaba?

In [36]:
print("betül", "ayşe", "aytaç", sep = "\b")

betüayşaytaç

In [37]:
print("Bizde geri \nvites olmaz")

Bizde geri
vites olmaz

In [38]:
print(r"Bizde geri \nvites olmaz") 
# r harfi içerisinde bulunan escape sequences'ları dikkate alma demektir.

Bizde geri \nvites olmaz

#### Ödev: Kullanıcıdan celcius bilgisini alın ve fahrenheit'a çevirin

In [6]:
cel = int(input("lütfen dereceyi rakamlarla giriniz: "))
fah = (cel * 1.8) + 32
print("Fahrenheit derecesi ", fah, "'dir.", sep = "")

Fahrenheit derecesi 77.0'dir.