# for

In [2]:
for i in "techpro": # for döngüsü iterable ile çalışır.
    print(i) # buradaki i her elemanı tek tek dolaşır. 
    # en son değer i üzerinde tanımlı olarak kalır. burada i = 0 olmuş olur.

t
e
c
h
p
r
o

In [4]:
i

'o'

In [3]:
for i in "techpro": # for döngüsü iterable ile çalışır.
    print(i, "-", i * 2) 
# for i in "iterable type": bu bir kalıptır i yerine istediğimizi yazabiliriz

t - tt
e - ee
c - cc
h - hh
p - pp
r - rr
o - oo

In [5]:
liste = [1, 2, 3, 4, 5]

for i in liste:
    print(i ** 2)

1
4
9
16
25

In [6]:
"e" in "hello" # burada hello str içinde e var mı diye sorgulamaktır. sonuç bool'dur.

True

In [7]:
"a" in "hello" # burada hello str içinde e var mı diye bak demektir. sonuç bool'dur.

False

In [8]:
x = 0

while x < len(liste):
    
    print(liste[x] ** 2)

    x += 1

1
4
9
16
25

In [13]:
isimler_listesi = ["irem", "cihan", "bahar", "metehan"]

In [14]:
for i in isimler_listesi: 
    print(i.capitalize())
# tüm elemanların baş harflerini büyütmüş oluruz isimler_listesi içinde tek tek gezerek
# ama burada isimler listesinde bir kalıcı değişiklik yapmıyor

Irem
Cihan
Bahar
Metehan

In [15]:
isimler_listesi # burada da görüldüğü gibi liste orjinal halinde kalmaya devam eder. 
# herhangi bir atama yapılmadığı için.

['irem', 'cihan', 'bahar', 'metehan']

In [24]:
# "Techpro" ifadesini T-e-c-h-p-r-o şeklinde yazdırın.
for i in "Techpro":
    print(i, end = "-")
# burada en sonada bir tire ekliyor ve bundan burada kurtulamadık. aşağıdaki gibi boş str
# oluşturarak istenilen işleme ulaşabiliyoruz.

T-e-c-h-p-r-o-

In [33]:
# "Techpro" ifadesini T-e-c-h-p-r-o şeklinde yazdırın.
empty_str = "" 

# bu şekilde bir boş srting oluşturularak istenilen sonuca gitmemiz kolaylaşabilir.

for i in "Techpro":

    empty_str += i + "-" # burada  str toplama işleminden yararlanıyoruz.

print(empty_str.rstrip(" - "))

T-e-c-h-p-r-o

In [34]:
dict_1 = {"name": "dilek", "age": 26, "job": "data_scientist"}
dict_1

{'name': 'dilek', 'age': 26, 'job': 'data_scientist'}

In [35]:
for i in dict_1: # burada key lere ulaşabiliriz.
    print(i)

name
age
job

In [36]:
for i in dict_1.values(): # value değerlere bu şekilde ulaşılır.
    print(i)

dilek
26
data_scientist

In [37]:
for i in dict_1.items(): # bu şekilde de hem key hem value değerlere ulaşılır.
    print(i)

('name', 'dilek')
('age', 26)
('job', 'data_scientist')

In [38]:
for i, j in dict_1.items():
    print(i, j, sep = "**")
# eğer ulaşacağımız tip uygun ise aynı anda ikili olarak for ile gezinebiliyoruz.
# burada i keylere j ise value değerler içinde dolaşır ve bize çıktı olarak döndürür.

name**dilek
age**26
job**data_scientist

In [39]:
for i, j in dict_1.items():
    print(f"key: {i}, value: {j}")

key: name, value: dilek
key: age, value: 26
key: job, value: data_scientist

In [40]:
dict_2 = {"name": "dilek","surname": "yılmaz", "age": 26, "job": "data_scientist"}
dict_2

{'name': 'dilek', 'surname': 'yılmaz', 'age': 26, 'job': 'data_scientist'}

In [41]:
for i, j in dict_2.items(): # görüldüğü gibi çıktı karışık gözüküyor.
    print(f"key: {i}, value: {j}")

key: name, value: dilek
key: surname, value: yılmaz
key: age, value: 26
key: job, value: data_scientist

In [42]:
for i, j in dict_2.items(): 
    print(f"key: {i:<10}, value: {j:^15}")
# burada i:<10 ifadesi 10 karakterlik alan aç ve oradaki < işareti de sola yasla demektir.
# eğer işaret > olsa idi 10 karakter aç sağa yasla demektir.
# j:^15 dersek burada da 15 karaktere tamamla ve ^ işareti ilede merkeze alıyor.

key: name      , value:      dilek
key: surname   , value:     yılmaz
key: age       , value:       26
key: job       , value: data_scientist

In [43]:
for i in True: # bool iterable olmadığından hata alınır. for iterable ile çalışır.
    print(i)

TypeError: 'bool' object is not iterable

In [ ]:
# liste_3 = ["sonsuz döngü"]

for i in liste_3:
    print(i)
    liste.append(i)
# bu koda çalıştırılırsa sürekli sona ekleme yaparak sonsuza gider.
# bu şekilde listeye ekleme yapılacağı zaman yeni bir boş liste oluşturularak
# ekleme ona yapılır. bu şekilde döngü sonsuza gitmez.

In [53]:
for i in range(1,51):
    print(f"{i:<2} hoca bize ceza verdi.")

1  hoca bize ceza verdi.
2  hoca bize ceza verdi.
3  hoca bize ceza verdi.
4  hoca bize ceza verdi.
5  hoca bize ceza verdi.
6  hoca bize ceza verdi.
7  hoca bize ceza verdi.
8  hoca bize ceza verdi.
9  hoca bize ceza verdi.
10 hoca bize ceza verdi.
11 hoca bize ceza verdi.
12 hoca bize ceza verdi.
13 hoca bize ceza verdi.
14 hoca bize ceza verdi.
15 hoca bize ceza verdi.
16 hoca bize ceza verdi.
17 hoca bize ceza verdi.
18 hoca bize ceza verdi.
19 hoca bize ceza verdi.
20 hoca bize ceza verdi.
21 hoca bize ceza verdi.
22 hoca bize ceza verdi.
23 hoca bize ceza verdi.
24 hoca bize ceza verdi.
25 hoca bize ceza verdi.
26 hoca bize ceza verdi.
27 hoca bize ceza verdi.
28 hoca bize ceza verdi.
29 hoca bize ceza verdi.
30 hoca bize ceza verdi.
31 hoca bize ceza verdi.
32 hoca bize ceza verdi.
33 hoca bize ceza verdi.
34 hoca bize ceza verdi.
35 hoca bize ceza verdi.
36 hoca bize ceza verdi.
37 hoca bize ceza verdi.
38 hoca bize ceza verdi.
39 hoca bize ceza verdi.
40 hoca bize ceza verdi.
41 hoca bize ceza verdi.
42 hoca bize ceza verdi.
43 hoca bize ceza verdi.
44 hoca bize ceza verdi.
45 hoca bize ceza verdi.
46 hoca bize ceza verdi.
47 hoca bize ceza verdi.
48 hoca bize ceza verdi.
49 hoca bize ceza verdi.
50 hoca bize ceza verdi.

Ödev1: Kullanıcıdan 1(dahil) ve 9(dahil) bir sayı isteyin. Bu sayının çarpım tablosunu oluşturun.

Ödev1: Kullanıcıdan 1(dahil) ve 9(dahil) bir sayı isteyin. Bu sayının çarpım tablosunu oluşturun.
Kullanıcı bu aralıktan farklı bir değer girdiyse tekrar doğru değer girmesini isteyin.

In [4]:
x = int(input("Lütfen 1 ile 9(dahil) arasında bir tam sayı giriniz."))

if 1 <= x <= 9:

    for i in range(1,11):
        print(f"Çarpım Tablosunda Gösterimi: {x} x {i:<3}= {x * i}")
else:
    print("girdiğiniz sayı 1 ile 9 arasında değil. ")

Çarpım Tablosunda Gösterimi: 6 x 1  = 6
Çarpım Tablosunda Gösterimi: 6 x 2  = 12
Çarpım Tablosunda Gösterimi: 6 x 3  = 18
Çarpım Tablosunda Gösterimi: 6 x 4  = 24
Çarpım Tablosunda Gösterimi: 6 x 5  = 30
Çarpım Tablosunda Gösterimi: 6 x 6  = 36
Çarpım Tablosunda Gösterimi: 6 x 7  = 42
Çarpım Tablosunda Gösterimi: 6 x 8  = 48
Çarpım Tablosunda Gösterimi: 6 x 9  = 54
Çarpım Tablosunda Gösterimi: 6 x 10 = 60

In [22]:
while True: # bu şekilde iç içe döngü kullanımına nested loops adı verilir.
    x = int(input("Lütfen 1 ile 9(dahil) arasında bir tam sayı giriniz."))
    
    if 0 < x < 10:

        for i in range(1,11):
            print(f"Çarpım Tablosunda Gösterimi: {x} x {i:<3}= {x * i}")
        break

    else:
        print("Geçersiz Değer Girdiniz Lütfen Tekrar Giriniz.")

Geçersiz Değer Girdiniz Lütfen Tekrar Giriniz.
Çarpım Tablosunda Gösterimi: 7 x 1  = 7
Çarpım Tablosunda Gösterimi: 7 x 2  = 14
Çarpım Tablosunda Gösterimi: 7 x 3  = 21
Çarpım Tablosunda Gösterimi: 7 x 4  = 28
Çarpım Tablosunda Gösterimi: 7 x 5  = 35
Çarpım Tablosunda Gösterimi: 7 x 6  = 42
Çarpım Tablosunda Gösterimi: 7 x 7  = 49
Çarpım Tablosunda Gösterimi: 7 x 8  = 56
Çarpım Tablosunda Gösterimi: 7 x 9  = 63
Çarpım Tablosunda Gösterimi: 7 x 10 = 70

In [5]:
#ödev 2 alternatif çözüm nested loops kullanmadan çözüm.
while True:

    number = int(input("bir sayı girin.1 ve 9 arasında"))

    if 1 <= number <= 9:

        break

    else:
        print("girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin.")

for i in range(1,11):

    print(f"{number} x {i:<2} = {number * i}")

girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin.
7 x 1  = 7
7 x 2  = 14
7 x 3  = 21
7 x 4  = 28
7 x 5  = 35
7 x 6  = 42
7 x 7  = 49
7 x 8  = 56
7 x 9  = 63
7 x 10 = 70

In [11]:
#ödev 2 çözüm 3 deneme hakkı = 3
sayac = 0

while True:

    number = int(input("bir sayı girin.1 ve 9 arasında"))

    sayac += 1

    if 1 <= number <= 9:
        for i in range(1,11):

            print(f"{number} x {i:<2} = {number * i}")
        break

    else:
        print("girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin.")
    
    if sayac == 3:
        print("Deneme hakkınız bitmiştir.")
        break

girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin.
girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin.
girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin.
Deneme hakkınız bitmiştir.

In [13]:
# 1 den 50(dahil)'ye kadar olan sayıların toplamını bulunuz. (n * (n + 1)) / 2 formulü budur.
toplam = 0
for i in range(1,51):
    toplam += i
print(f"sayıların toplamı: {toplam}'dır.")

sayıların toplamı: 1275'dır.

In [14]:
sum(range(1,51)) # sum fonksiyonu iterable'larla çalışır içine range ile verdiğimiz 
# değerleri sırayla teker teker toplayarak bize toplamını verir.
# yani burada 1 den başlayıp 50 ye kadar toplar ve sonucu verir.

1275

In [15]:
sum([1, 2, 3, 4, 5]) # liste iterable'dır bu yüzden yine işlem yapar.

15

In [16]:
sum((1, 2, 3, 4, 5)) # tuple iterable'dır bu yüzden yine işlem yapar.

15

In [17]:
sum({1, 2, 3, 4, 5}) # kümeler iterable'dır bu yüzden yine işlem yapar.

15

In [19]:
sum(["a","b"]) 
#iterable olmasına rağmen matematiksel bir işlem olduğundan hata verir işlemi yapmaz.
# sum fonksiyonunun default değeri 0 dır. bu toplama işlemini 0'ın üzerine yapar.
# default ınt olduğundan str toplayamaz. zaten hata olarak bize onu verir.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
sum([1, 2, 3, 4, 5],100) # burada yazdığımız ikinci ifade ile default değerini değiştiriyoruz.
# bu yüzden toplama işlemine 100'den başlayarak sonuç verir.

115

In [21]:
sum(range(0,51,2))

650

## break, continue

In [23]:
liste_1 = [1, 2, 3, 4, 5]
liste_1

[1, 2, 3, 4, 5]

In [24]:
# 3 ve 3'ün katı olan sayıya denk gelindiğinde kod bitsin 
# diğer durumlarda sayıların karesini yazdırın.
for i in liste_1: 
    if i % 3 == 0:
        break
    else:
        print(i ** 2)

1
4

In [25]:
# 3 ve 3'ün katı olan sayıya denk gelindiğinde kod devam etsin 
# ama 3 ve 3'ün katına işlem yapmasın. 
# diğer durumlarda sayıların karesini yazdırın.
for i in liste_1: 
    if i % 3 == 0:
        continue
    else:
        print(i ** 2)

1
4
16
25

In [29]:
# çift sayıların toplamı 1 ve 50 arası

toplam = 0

for i in range(1,51):

    if i % 2 == 1:
        continue
    else:
        toplam += i
print(toplam)

650

## zip()

In [31]:
a = ["apple", "orange", "lemon"]
b = [1, 2 , 3]

In [32]:
zip(a,b) # işlemi yapar ama show edemeyiz range gibi show etmek için başına list yazarız.
# zip fonksiyonu iterable objeleri birleştirir bize.

In [33]:
list(zip(a,b)) 
# görüldüğü gibi a ve b listesini ikili olarak eşledi ve tuple olarak bize ikilieri verdi.

[('apple', 1), ('orange', 2), ('lemon', 3)]

In [34]:
x = "Techpro"
y = "Cihan"
z = "Ayşe"

In [36]:
list(zip(x,y,z))
# burada görüldüğü üzere zipleme işlemini len'i en küçük olana göre bize zipler.
# burada en küçük z 4 elemanlı olduğundan 4' e kadar zipledi bize 
# diğer  fazla elemanlar dışarıda kalır.

[('T', 'C', 'A'), ('e', 'i', 'y'), ('c', 'h', 'ş'), ('h', 'a', 'e')]

In [37]:
list(zip(b,a)) 
# burada hangisini zip fonk. ilk yazarsak birleştirirken bizim ilk yazdığımız değişkenin elemanı
# ilk eleman olur ziplenen durumda.

[(1, 'apple'), (2, 'orange'), (3, 'lemon')]

In [38]:
dict(zip(b,a)) # yapısı dict'e uygun olduğundan dict'e çeviredebiliriz.

{1: 'apple', 2: 'orange', 3: 'lemon'}

In [39]:
meyveler = ["apple", "orange", "apple"]
adet = [1, 2 , 3]

In [40]:
dict(zip(meyveler,adet)) 
# burada birden fazla key olduğundan en sondaki key'i alır sadece keyler unique olduğundan
# ve dict'imiz 2 elemanlı olur eşleşme aşağıdaki gibidir.

{'apple': 3, 'orange': 2}

In [41]:
name = ["irem", "betül", "Tülay"]
age = [25, 26, 27]
job = ["data_scientist", "python_developer", "data_analyst"]

In [42]:
list(zip(name,age,job)) # elimizdeki ayrı ayrı verileri birbiriyle eşitliyoruz.
# zip birlşetirmeyi bize tuple olarak döndürür.

[('irem', 25, 'data_scientist'),
 ('betül', 26, 'python_developer'),
 ('Tülay', 27, 'data_analyst')]

In [43]:
for item in zip(name,age,job):
    print(item)

('irem', 25, 'data_scientist')
('betül', 26, 'python_developer')
('Tülay', 27, 'data_analyst')

In [44]:
for i, j, k in zip(name,age,job):
    print(f"Name: {i:<6}, Age: {j}, Job: {k}")
# bu işlemde i name j age ve k job'ın içinde gezer. ve işlemlerimizi ona göre yaparız.
# for değişkeni yazarken eğer içinde 3 eleman varsa biz de 3 yazmalıyız aksi halde hata alırız.
# burada i,j diye iki değişken yazsaydık mesela 3 eleman 2 değişken eşit olmayacağından hata olur.

Name: irem  , Age: 25, Job: data_scientist
Name: betül , Age: 26, Job: python_developer
Name: Tülay , Age: 27, Job: data_analyst

In [45]:
for i, j, k in zip(name,age,job):
    print(f"Name: {i:<6}, Age: {j}")
    # bu şekilde gezinmemizi yaparız fakat kullanmak istemezsek print kısmında onu
    # yazdırmayız ve diğer iki değişken üzerinden işlem yapabiliriz.
    # görüldüğü gibi burada sadece name ve age değişkenini kullandık.

Name: irem  , Age: 25
Name: betül , Age: 26
Name: Tülay , Age: 27

## enumarate()

In [ ]:
# numaralandırma işlemi yapar bu fonksiyon

In [46]:
name

['irem', 'betül', 'Tülay']

In [47]:
enumerate(name) # bu işlemide görüntülemek için list fonksiyonu kullanılabilir.

In [48]:
list(enumerate(name)) 
# görüldüğü gibi tüm elemanlara default olarak 0'dan başlayarak numaralandırır.

[(0, 'irem'), (1, 'betül'), (2, 'Tülay')]

In [49]:
list(enumerate(name, 100)) 
# burada fonksiyondan sıralandırmaya 100'den başlamasını söylüyoruz. 
# istediğimiz sayıdan başlatmak için yazım bu şekildedir.

[(100, 'irem'), (101, 'betül'), (102, 'Tülay')]

In [58]:
# listenin min ve max değerleri arasındaki kayıp sayıları bulun.
number_list = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

In [65]:
# Çözüm-1
number_list = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

full_set = set(range(min(number_list), max(number_list)))
number_set = set(number_list)

full_set - number_set

{8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49}

In [62]:
# Farklı yöntem

kayıp_sayılar = []

for i in range(min(number_list), max(number_list)):

    if i not in number_list:
        kayıp_sayılar.append(i)

print(kayıp_sayılar)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [64]:
# diğer farklı bir çözüm.
kayıp_sayılar = []

for i in range(min(number_list), max(number_list)):

    if i in number_list:
    
        continue
    
    kayıp_sayılar.append(i)

print(kayıp_sayılar)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

Ödev vermedik. Kimsede hatırlatmadı:smiley:
Ödeviniz:
Bir markete gittiniz. Markette her ürünün bir kod numarası var.
1 : Elma 2 : Portakal 3 : Çilek 4 : Yumurta 5 : Havuç 6 : Armut ... vs. şeklinde.
Kullanıcıya almak istediği ürünü sorunuz ve kod numarası ile seçim yaptırınız. Çıkış için "q" opsiyonunu sununuz. Kullanıcının her ürün seçimi sonrası " .... elma sepete eklendi" gibi bir dönüt veriniz. Kullanıcı ürün almaya devam ettikçe ürünleri bir listede toplayınız, almaktan vazgeçtiği durumda teşekkür edip, aldığı toplam ürünleri çıktı veren bir kod yazınız.
Çıktı:
Teşekkür Ederiz...
Sepetinizde Bulunan Ürünler: elma, armut, yumurta ... vs.

In [4]:
ürün_liste = ["Elma","Armut","Portakal","Kivi","Avakado","Çilek","Yumurta","Havuç","Roka","Somon"]
ürünler = list(enumerate(ürün_liste,1))
ürünler
sepet_liste = []

for i in ürünler:

    i = input(f"Lütfen Sepete Eklemek İstediğiniz Ürün Numarasını Seçiniz: {ürünler} veya ÇIKMAK için 'q'ya Basınız.")

    if i == "q":

        break

    sepet_liste.append(ürün_liste[int(i) - 1])

    print(f"Sepetinize {ürün_liste[int(i) - 1]:<8} Eklenmiştir. ")

print(f"\nBizi Tercih Ettiğiniz İçin Teşekkürler. \nSepetinizdeki Ürünler:\t{sepet_liste}")

Sepetinize Avakado  Eklenmiştir.
Sepetinize Portakal Eklenmiştir.
Sepetinize Somon    Eklenmiştir.
Sepetinize Roka     Eklenmiştir.

Bizi Tercih Ettiğiniz İçin Teşekkürler.
Sepetinizdeki Ürünler:	['Avakado', 'Portakal', 'Somon', 'Roka']

In [ ]:
# hocanın alternatif çözümü
ürünler = {1 : "Elma", 2 : "Portakal", 3 : "Çilek", 4 : "Yumurta", 5 : "Havuç", 6 : "Armut"}

print("Marketimize Hoş geldiniz")

print("""Ürünlerimiz:
1 : "Elma",
2 : "Portakal",
3 : "Çilek", 
4 : "Yumurta",
5 : "Havuç",
6 : "Armut"     
      """)

sepet = []

while True:

    x = input("Almak istediğiniz ürünün kodunu giriniz. Ürün eklemeyi bitirdiğinizde q tuşuna basınız.").lower()

    if x != "q":
        sepet.append(ürünler[int(x)])
        print(f"Sepete {ürünler[int(x)]} eklendi")

    elif x == "q":
        print("Bizi tercih ettiğiniz için teşekkürler")
        print(f"Almış olduğunuz ürünler: {sepet}")
        break