# if, elif, else statement

### if

In [2]:
if 5 > 2 : 
    print("5, 2 den büyüktür.")

5, 2 den büyüktür.

In [3]:
if True:
    print(8 * 4)

32

In [4]:
if 5 < 2: 
    print("bu kod boolean sonuç False olduğu için çıktı vermez.")

In [5]:
if 8 == 8:
    print("acaba çıktı verir mi?")
# koşullu ifadenin çıktısı boolean olarak True olduğundan çıktı verir.

acaba çıktı verir mi?

In [6]:
if 5 < 4 :
    print("5, 4'ten küçüktür.")
print("if çalışsada çalışmasa da ben çıktı veririm.")

if çalışsada çalışmasa da ben çıktı veririm.

In [7]:
if "": # if boolean olarak false olduğundan çıktı vermez.
    print("ne dersiniz?")

In [9]:
if 10 > 3: # if bloğu true ise işlemler yapılır ve çıktı verir.
    print("10, 3 ten büyüktür")
    print(10 - 3)
    print(10 * 3)
    age = 10 * 3 - 2
    print(age)

10, 3 ten büyüktür
7
30
28

## if, else

In [1]:
if 5 > 4: # if kısmı boolean True olduğu için if kısmı çalışır.
    print("if kısmı çalışır.")
else:
    print("else kısmı çalışır.")

if kısmı çalışır.

In [2]:
if 5 < 4: # if kısmı boolean False olduğu için if kısmı değil else kısmı çalışır.
    print("if kısmı çalışır.")
else:
    print("else kısmı çalışır.")

else kısmı çalışır.

In [3]:
x = 8 
if x < 5 : # if kısmı boolean False olduğu için if kısmı atlanır ve else kısmı çalışır.
    print("if kısmı çalışır.")
else:
    print("else kısmı çalışır.")

else kısmı çalışır.

## if, elif

In [4]:
x = 8
if x < 8: # False
    print("if çalışır")
elif x == 9 : # False
    print("1. elif çalışır")
elif x > 10 : # False
    print("2. elif çalışır")
elif x < 10: # True
    print("3. elif çalışır")

3. elif çalışır

## if, elif, else

In [7]:
x = int(input("lütfen 0 ile 50 arasında bir sayı girin"))

if x < 10:
    print("sayı 10 dan küçüktür.")
elif x < 35:
    print("sayı 35 dan küçüktür.")
elif x <= 50:
    print("sayı 50 ye eşit veya küçüktür.")
else:
    print("sayı 0 ile 50 arasında değildir.")

sayı 50 ye eşit veya küçüktür.

In [8]:
x = 4 
if x < 2:
    print("if")
elif x > 5:
    print("elif")
else:
    print("else")

else

kahoot 15 soru var 5 ve altını doğru yaptıysanız eğer "dahi misin",
10 ve altı ise "şaka mısın sen"
15 ve altı ise "süpersin"
input ile doğru sayısını alın. 
doğru değer girilmezse else ile yanlış bir değer girdiğini belirtelim

In [11]:
x = int(input("lütfen doğru sayınızı giriniz:"))

if 0 < x <= 5:
    print("Dahi misin")
elif 5 < x <= 10:
    print("şaka mısın sen")
elif 10 < x <= 15:
    print("süpersin")
else:
    print("yanlış bir değer girdiniz.")

şaka mısın sen

# list

In [ ]:
# listeler collection type olarak en çok kullanılandır.
# mutable (atamaya ihtiyaç duymadan değitirilebilir.)
# iterable'dır. tüm elemanlarına ulaşılabilir.
# listeler elemanlarını virgüllerle ayırır.

In [12]:
[] # iki farklı yöntemle liste oluşturabiliriz.
list()

[]

In [13]:
liste_1 = [1, 2, 3.14, "mustafa", False]
liste_1 # birden fazla data tipindeki veriyi saklamanın en iyi yoludur.

[1, 2, 3.14, 'mustafa', False]

In [14]:
len(liste_1) # len fonksiyonu iterable olan verilerin eleman sayısını verir.

5

In [15]:
liste_2 = list("Techpro")
liste_2 # list fonksiyonunun içine yazdığımız iterable tipi tek tek liste elemanı haline getirir.

['T', 'e', 'c', 'h', 'p', 'r', 'o']

In [16]:
liste_3 = ["Techpro"]
liste_3 # bu şekilde sadece yazılanı bir eleman olarak kabul eder liste için.

['Techpro']

In [17]:
liste_4 = [2, 3.5, False, [1,2,3]]
liste_4

[2, 3.5, False, [1, 2, 3]]

In [18]:
liste_5 = [list("mehmet")]
liste_5 # bu durum da liste bir elemanlı listenin içinde ki liste 6 elemanlıdır.

[['m', 'e', 'h', 'm', 'e', 't']]

In [19]:
len(liste_5)

1

In [20]:
bos_liste_1 = [] # bu iki yöntemle boş liste oluşturmuş oluruz.
bos_liste_2 = list()

In [21]:
len(bos_liste_1)

0

In [22]:
len(bos_liste_2)

0

In [24]:
type(bos_liste_1)

list

In [25]:
liste_6 = ["Fulya Mustafa Zeynep Bilkay"]
len(liste_6)

1

In [28]:
liste_8 = ["Mehmet", 5, "Aslan", 5, "Mehmet", "mehmet", 5.0]
liste_8
# listeler aynı elemanı birden fazla kez içerisinde bulundurabilir.

['Mehmet', 5, 'Aslan', 5, 'Mehmet', 'mehmet', 5.0]

In [29]:
liste_9 = list(1545) # hata verir çünkü len fonksiyonu sadece iterable tipler için sonuç verir.
# integer veriler iterable tipte değildir.
len(liste_9)

TypeError: 'int' object is not iterable

In [30]:
liste_10 = list("Ali", "Murat") 
# list fonksiyonu içerisini ya boş bırakabiliriz ya da 
# en fazla 1 tane iterable argüman kabul eder 
# biz 2 tane yazdığımız için hata verir

TypeError: list expected at most 1 argument, got 2

In [32]:
liste_10 = list("ali" + "murat")
liste_10 # bu şekilde list fonksiyonuna birden fazla argüman verebiliriz. 
# + ile toplandığı için strinler tek bir string olarak algılıyor 
# ve list fonksiyonu işini yapıyor.

['a', 'l', 'i', 'm', 'u', 'r', 'a', 't']

In [8]:
ortaya_karısık = [3, 4.4, "Orkun", False, [1,2,3,4,5]]
ortaya_karısık

[3, 4.4, 'Orkun', False, [1, 2, 3, 4, 5]]

In [34]:
ortaya_karısık[0]

3

In [35]:
ortaya_karısık[1:4]

[4.4, 'Orkun', False]

In [36]:
ortaya_karısık[2]

'Orkun'

In [38]:
ortaya_karısık[2].upper()

'ORKUN'

In [39]:
len(ortaya_karısık[4])

5

In [40]:
ortaya_karısık[4][3]
# büyük listenin içindeki listenin 3. elemanına bu şekilde ulaşılır.

4

In [42]:
str(ortaya_karısık[1])[1]

'.'

ödev 1 : Kullanıcıdan boy ve kilo bilgisini alıp VKİ değerini bulup VKİ durumunu yazdırın.

ödev 2 : 
1 - Kullanıcıdan bir sayı alın.
2 - Bu sayı 3 e bölünebiliyorsa "Tech",
3 - 5 e bölünebiliyorsa "Pro",
4 - Hem 5 e hem de 3 e bölünebiliyorsa "Techpro" yazdırın.
5 - sayı bu şartların hiç birini sağlamıyorsa sayının kendisini yazdıran python kodunu yazın.
Cevaplar yarın 15:00(tr) e kadar slack kanallarında paylaşılmayacak. 15:00 dan sonra paylaşabilirsiniz.

In [9]:
potpori = ["Seyda", 3.14, True, 7, [1, 2, 3, 4, 5, 6]]
potpori

['Seyda', 3.14, True, 7, [1, 2, 3, 4, 5, 6]]

In [10]:
potpori[0]

'Seyda'

In [11]:
potpori[0] = "Betül" 
# Bu şekilde listenin elemanlarından istediğimizi kalıcı olarak değiştirebiliriz.

In [12]:
potpori

['Betül', 3.14, True, 7, [1, 2, 3, 4, 5, 6]]

# Basic Operations with Lists

In [14]:
sayılar_1 = [1, 2, 3, 4, 5]
sayılar_1

[1, 2, 3, 4, 5]

### append() methodu

In [15]:
sayılar_1.append(6)
# Bu methodla listeye yeni bir eleman eklenebilir assign (atama) edilmeden.

In [16]:
sayılar_1

[1, 2, 3, 4, 5, 6]

In [17]:
sayılar_1.append(7)
# bu satır 1 kere çalıştırıldığından bir tane 7 ekler. 
# kaç kere çalıştırırsak o kadar 7 ekler.
# listenin sürekli sonuna ekleme yapar bu method.

In [18]:
sayılar_1

[1, 2, 3, 4, 5, 6, 7]

### insert()

In [19]:
sayılar_2 = [11, 12, 13, 14, 15]
sayılar_2

[11, 12, 13, 14, 15]

In [21]:
sayılar_2.insert(1, 20)
# bu methodla istediğimiz indexe eleman ekleyebiliriz.
# burada ilk değer index ikince değer bizim listeye ekleyeceğimiz elemandır.
# indexine yerleşir ve yerleştirdiği yerden itibaren elemanları bir sağa kaydırır bu method.
# iki kere çalıştırıldığından iki adet 20 elemanı ekledi.
sayılar_2

[11, 20, 20, 12, 13, 14, 15]

In [22]:
sayılar_2.insert(-1, 16)
sayılar_2
# burada -1 yani son indexin yerine yerleşti ve son indexteki 15 elemanını bir sağa kaydırarak
# işlemini yaptı.
# eğer listenin index değerinden fazla bir index sayısı yazarsak yeni elemanı en sona ekler.

[11, 20, 20, 12, 13, 14, 16, 15]

### remove() liste içindeki ilk gördüğü elemanı siler. eleman yok ise hata verir.

In [23]:
sayılar_2.remove(20)

In [24]:
sayılar_2

[11, 20, 12, 13, 14, 16, 15]

In [25]:
sayılar_3 = [1, 2, 3, 2, 5, 3, 4, 2, 6, 4, 5]
sayılar_3

[1, 2, 3, 2, 5, 3, 4, 2, 6, 4, 5]

In [26]:
sayılar_3.remove(2)
sayılar_3

[1, 3, 2, 5, 3, 4, 2, 6, 4, 5]

In [27]:
sayılar_3.remove(2)
sayılar_3

[1, 3, 5, 3, 4, 2, 6, 4, 5]

In [28]:
sayılar_3.remove(2)
sayılar_3

[1, 3, 5, 3, 4, 6, 4, 5]

In [29]:
sayılar_3.remove(2)
sayılar_3 
# eğer silmek istenen eleman listede yoksa bu hatayı verir.

ValueError: list.remove(x): x not in list

In [30]:
isimler_1 = ["Fulya", "Serhat", "Aslan"]
isimler_1

['Fulya', 'Serhat', 'Aslan']

In [31]:
isimler_1.remove("Serhat")
isimler_1

['Fulya', 'Aslan']

### pop() listenin indexindeki elemanı siler. birşey yazmazsanız son elemanını siler.

In [32]:
sayılar_1

[1, 2, 3, 4, 5, 6, 7]

In [33]:
sayılar_1.pop()
# bu şekilde parantez içine birşey 
# yazmaz isek en sondaki elemanı siler ve bize sildiği elemanı çıktı olarak gösterir.

7

In [34]:
sayılar_1

[1, 2, 3, 4, 5, 6]

In [35]:
sayılar_1.pop(1)
# burada kaçıncı indexi silmek istediğimizi belirtiriz. 
# burada 1. index yani 2 olan elemanını silinecek.
sayılar_1

[1, 3, 4, 5, 6]

In [36]:
isimler_1

['Fulya', 'Aslan']

In [38]:
isimler_1.pop(0)

'Fulya'

In [39]:
isimler_1
# silecek elemanı yok ise yani liste boş ise hata verir.

['Aslan']

### count()

In [40]:
sayılar_5 = [1, 2, 3, 2, 4, 3, 5, 1, 2, 4]
sayılar_5

[1, 2, 3, 2, 4, 3, 5, 1, 2, 4]

In [41]:
sayılar_5.count(3) 
# listenin içinde yazdığımız elemandan kaç tane olduğunu gösterir bize.
# liste üzerinde hiç bir değişiklik yapmaz
# yazdığımız eleman içerisinde yoksa hata vermez 0 sonucu verir bize.

2

In [42]:
karısık = [1, 0.0, False, 2, True, 1, 1.0, 0]
karısık

[1, 0.0, False, 2, True, 1, 1.0, 0]

In [43]:
karısık.count(0)
# her ne kadar tipleri birbirinden farklı olsada yukarı da ki 0, 0.0 , False
# değelerinin hepsinin sonucu 0 olduğundan bize sonucu 3 verir.

3

In [44]:
karısık.count(1)
# içerisinde 1, 1.0, True, 1 diye dört eleman vardır sonucu bize o yüzden 
# bize 4 olarak döndürür.

4

### clear()

In [45]:
sayılar_2

[11, 20, 12, 13, 14, 16, 15]

In [46]:
sayılar_2.clear()
# bu işlem listemizin içini tamamen siler ve bize bir boş liste verir.

In [47]:
sayılar_2

[]

### del

In [48]:
del sayılar_3 
# direk olarak listenin tamamını siler tanımlı olmaz artık.

In [49]:
sayılar_3

NameError: name 'sayılar_3' is not defined

### sort() bu method sıralama yapar. kullanılırken dikkat edilmesi gerekiyor.
### data tiplerinin aynı olması gerekir.

In [53]:
sayılar_6 = [4, 8, 3, 5, 15, 5.5, 26, 41, 12]
sayılar_6 # float ve int birlikte sıralayabilir.

[4, 8, 3, 5, 15, 5.5, 26, 41, 12]

In [54]:
sayılar_6.sort() # içine birşey yazılmaz ise küçükten büyüğüne göre sıralar.
sayılar_6

[3, 4, 5, 5.5, 8, 12, 15, 26, 41]

In [55]:
sayılar_6.sort(reverse = True)
sayılar_6 # bu şekilde varsayılan değeri değiştirirsek büyükten küçüğe doğru sıralama yapar.

[41, 26, 15, 12, 8, 5.5, 5, 4, 3]

In [57]:
isimler_2 = ["Murat", "ayşe", "seyda", "mehmet"]
isimler_2

['Murat', 'ayşe', 'seyda', 'mehmet']

In [61]:
ord("m") # ord harfin ASCII değerini bize gösterir.

109

In [58]:
isimler_2.sort()
isimler_2 # burada sıralamayı ASCII değerine göre küçükten büyüğe sıralar stringleri
# eğer ilk harfler de aynı ise sonraki harflere göre karşılaştırır.

['Murat', 'ayşe', 'mehmet', 'seyda']

In [59]:
liste_1 = ["sedat", "mehmet", 1, 2.5]
liste_1

['sedat', 'mehmet', 1, 2.5]

In [60]:
liste_1.sort() # data tiplerinde farklılık olduğu için sıralama yapmaz hata verir.

TypeError: '<' not supported between instances of 'int' and 'str'

### extend()

In [62]:
liste_2 = [1, 2, 3]
liste_2

[1, 2, 3]

In [63]:
liste_2.extend(4)
# bu methodla sadece iterable elemanları ekleyebiliriz.
# iterable olan elamanı tek tek gönderir listeye ekler.

TypeError: 'int' object is not iterable

In [64]:
liste_2.extend([4, 5])
# bu durumda da listedeki her iki elemanı da tek tek ana listemize ekler

In [65]:
liste_2

[1, 2, 3, 4, 5]

In [66]:
liste_2.extend("Techpro")
liste_2 
# bu durumda da içerisindeki stringrin tamamını tek tek eleman eleman listeye olarak yükler.

[1, 2, 3, 4, 5, 'T', 'e', 'c', 'h', 'p', 'r', 'o']