## filter()

In [1]:
filter(None, "hello")
# filter iki eleman alır bunlardan ilki None veya Fonksiypn olur
# ikincis iterable bir ifade olur.

In [2]:
list(filter(None, "hello")) 
# filter fonksiyonunu görüntülemen için herhangi bir list'e çevirmek lazım.
# yoksa yukarıdaki gibi döner.  çıktı olarak bize liste halinde döner

['h', 'e', 'l', 'l', 'o']

In [4]:
list(filter(None, [1, 2, 0, 3.14, True, False, 0.0, "Techpro", ""]))
# içine herhangi bir fonksiyon vermez None yazarsak içerisindeki 
# True ve Truty'leri bize çıktı verir False ve Falsy değerleri vermez.

[1, 2, 3.14, True, 'Techpro']

In [5]:
def find_odds(x):

    if x % 2:
        return True
    else: 
        return False

In [8]:
list(filter((find_odds), [0,1,2,3,4,5,6,7,8,9]))
# filter kullancağımız zaman fonksiyonda return olarak genelde bool çıktı almalıyız
# çünkü filter ayrımı bool ifadeler üzerinden yapmaktadır.
# return olarak truty de kullanılır ama 0 çift olmasına rağmen çiftleri yazdırmak 
# istediğimizde 0 = False bir değer olduğundan çıktıyı tam olarak doğru alamayız.
# burada bu hususa dikkat etmek lazım.

[1, 3, 5, 7, 9]

In [9]:
isimler_listesi = ["Serhat", "sedat","Metehan","Bahar", "cennet", "Bilge"]

In [10]:
def len_5(x):

    if len(x) == 5: return True # böyle yan yana da yazabiliyoruz.

In [13]:
len_5("Sedat") # eğer sayı 5 ' e eşit olmaz ise hiç bir ifade döndürmez ama çalışır.
# bu bizim tanımladığımız fonksiyondan kaynaklıdır.

True

In [14]:
list(filter(len_5, isimler_listesi))
# burada isimler_listesine gider ve içinden 5 elemanlı olanların fonk. da return True olduğundan
# sadece onları verir.

['sedat', 'Bahar', 'Bilge']

In [15]:
def find_armstrong_2(x):

    x = str(x)

    uzunluk = len(x)

    if int(x) == sum([int(i) ** uzunluk for i in x]):

        return int(x)

In [16]:
list(filter(find_armstrong_2, range(10,100001)))

[153, 370, 371, 407, 1634, 8208, 9474, 54748, 92727, 93084]

## lambda()

In [17]:
def kareler_toplamı(x,y):
    return x **2 + y ** 2

In [18]:
kareler_toplamı(3,4)

25

In [19]:
lambda x, y: x ** 2 + y ** 2
# alttaki gibi func'ın yanında main yazarsa bizim fonksiyonumuzdur
# gömülü fonk'larda sadece func yazar

In [20]:
(lambda x, y: x ** 2 + y ** 2)(3,4)
# bu fonksiyon çalışır biter bir daha ulaşma imkanımız yoktur.
# syntax yapısı üstteki gibidir ve parametresini direk yanında veririz.

25

In [21]:
(lambda x: len(x) == 5)("sedat")

True

In [22]:
(lambda x: len(x) == 5)("Bilkay")

False

In [23]:
list(filter((lambda x: len(x) == 5), isimler_listesi))
# eğer listedeki daha farklı karakterdeki isimleri almak istersek tekrar tanımlamak yerine
# lambda ile sadece == 5 olan yerdeki sayıyı değiştirerek hızlıca alabiliriz.

['sedat', 'Bahar', 'Bilge']

In [25]:
(lambda x: x[::-1])("Hello")

'olleH'

In [6]:
pip install pandas # kütüphane yükleme bu kod ile yapılmaktadır.

Requirement already satisfied: pandas in c:\users\pc\appdata\local\programs\python\python312\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\pc\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pc\appdata\roaming\python\python312\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\pc\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pc\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\pc\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("adult_eda.csv")

In [4]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9.0,Never-married,Adm-clerical,NaN,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [18]:
df.sex

0          Male
1          Male
2          Male
3          Male
4        Female
          ...
32556    Female
32557      Male
32558    Female
32559      Male
32560    Female
Name: sex, Length: 32561, dtype: object

In [19]:
df.sex.apply(lambda x: 0 if x == "Male" else 1)
# lambda daki if else yapısı aynı list comprenhension gibidir.
# burada cinsiyet sutununda male ise 0 değilse 1 verme fonskiyounudur bu.
# görüldüğü gibi burada 32561 satırlık işlemi kısa sürede yaptık.
# burada liste sürekli olarak değişmemiştir. listenin orjinali aynıdır.

0        0
1        0
2        0
3        0
4        1
        ..
32556    1
32557    0
32558    1
32559    0
32560    1
Name: sex, Length: 32561, dtype: int64

In [12]:
(lambda x: x **2 if x % 2 else x * 2)(20) 
# if else syntax yapısı bu şekildedir.

40

# map()

# içerisine iki değer alır ilk değer ikinci değer iterable'dır.(func, iterable)
# map iterable ifadeyi func'a göre işlem yaparak bize döndürür.

In [1]:
def sayının_karesi(x):
    return x ** 2

In [2]:
sayılar_listesi = [2,4,6,5,8,9,1,15]

In [3]:
map(sayının_karesi, sayılar_listesi)
# bu işlemi direk böyle çaığırırsak işlem yapılır ama bize görüntülemez.
# görüntülemek için başına list(map(sayının_karesi, sayılar_listesi)) gibi ifade yazmak lazım.

In [4]:
list(map(sayının_karesi, sayılar_listesi))
# görüldüğü üzere listenin tüm elemanlarına fonksiyondaki işlemi yaparak bize döndürdü.
# aslında  elimizde fonksiyon varken for döngüsü ile yaptığımız gezinme işlemini
# map fonksiyonu ile direk yapmış olduk.

[4, 16, 36, 25, 64, 81, 1, 225]

In [5]:
list(map(len, ["techpro","yasemin","murat","ali"]))
# indexteki herbir elemana giderek ne kadar uzunlukta olduğunu verecek sonuç olarak bize.
# örn: "techpro" için bize 7 sonucunu verir.
# map içinde kullandığımız len gömülü fonksiyondur. bu şekilde gömülü fonklar kullanılabilir.

[7, 7, 5, 3]

In [6]:
def tek_çift(* sayı):
    result = []
    
    for i in sayı:
        if i % 2:
            result.append(i ** 2)
        else:
            result.append(i)
    return result

In [7]:
tek_çift(1,2,3,4,5)

[1, 2, 9, 4, 25]

In [8]:
(lambda x: x ** 2 if x % 2  == 1 else x)(7)

49

In [12]:
(lambda x: x ** 2 if x % 2  == 1 else x)(8)

8

In [15]:
list(map((lambda x: x ** 2 if x % 2  == 1 else x), [8,9,10,11]))
# Normalde lambda ile parametre sayısına göre tek bir elemana işlem yaparken 
# aynı lambdayı map fonksiyonu ile kullanıldığında 
# liste gibi type'larda birden çok elemana işlem yapabiliyoruz.
# eğer map kullanmadan sadece lambda ile listenin elemanlarına işlem yapmak istersek hata alırız.

[8, 81, 10, 121]