# Sets (Kümeler)

In [1]:
# mutable'dır. Değiştirilebilir fakat bazı farklılıklar vardır.
# iterable'dır. her elemanına ulaşılabilir fakat bazı farklılıklar vardır.
# içerisinde bir elemanı birden fazla kere barındırmaz. Her eleman unique(benzersiz)'dir.
# 2 farklı oluşturma şekli vardır. birisi set() diğeri {}'dir.

In [ ]:
set()
{}

In [2]:
set("hello") 
# içerisine iterable bir değer vermemiz gerekir bu fonksiyondada.
# çıktıda görüleceği gibi birden fazla aynı eleman varsa onları tek eleman olarak oluşturur.
# çünkü kümelerin elemanları benzersizdir(unique)'dir.

{'e', 'h', 'l', 'o'}

In [3]:
set("Techpro") 
# kümelerde sıralama söz konusu değildir. unordered bir yapıdadır.
# bundan dolayı kümeleri bildiğimiz sayılarla indexleme yöntemleriyle indexleyemeyiz.

{'T', 'c', 'e', 'h', 'o', 'p', 'r'}

In [4]:
print(set("Techpro"))

{'r', 'h', 'e', 'o', 'T', 'c', 'p'}

In [5]:
{"blue", "green", "yellow", "blue", "black", "green"}
# kümeler birden fazla olanları tek bir tane yazdırır. çünkü kümeler unique'dir.

{'black', 'blue', 'green', 'yellow'}

In [6]:
{"mikail", 25, True, 3.14, (4,5,6)} 
# Kümeler içerisine liste ve dict almaz fakat tuple bulundurur.

{(4, 5, 6), 25, 3.14, True, 'mikail'}

In [7]:
empty_set = set() # boş küme oluşturmanın tek yolu böyledir.
# set fonksiyonu içine en fazla 1 eleman alır.
empty_set

set()

In [9]:
empty_set_2 = {} # bu şekilde oluşturulan dict'tir. küme değildir.
# ama süslü parantezin içine eleman yazarsak bize küme verir. buna dikkat etmek gerekir.
empty_set_2

{}

In [10]:
type(empty_set_2) # görüldüğü gibi küme değil dict oluşturuldu.

dict

In [11]:
mete = {1,2,3,4,5,6,5,4}
mete # boş değilde bu şekilde yazıldığında dict olarak değil bize küme olarak çevirir.

{1, 2, 3, 4, 5, 6}

In [12]:
type(mete) #tipine baktığımızda küme olduğu görülür.

set

In [13]:
liste_1 = ["kalem", "silgi", "kağıt", "kalem_ucu"]
liste_2 = ["silgi", "defter", "kağıt"]
set(liste_1 + liste_2) 
# bu şekilde de küme oluşturulabilir fonksiyon 
#içine yazılanı tek bir liste olarak gördüğünden hata vermeden işlemi yapar.

{'defter', 'kalem', 'kalem_ucu', 'kağıt', 'silgi'}

In [14]:
set_1 = {True, False, 1, 5, 0.0, 3.5}
set_1 
# burada bize çıktı olarak bizim yazdığımız sıralamaya göre ilk elemanı baz alır 
# sonraki aynı ifadeyi eklemez. bu durumda True ve 1 eşit olduğundan sadece True'yu
# False ve 0.0 aynı olduğundan python için matematiksel anlamda sadece soldan ilk eleman
# False olduğu için onu yazdırır. Çıktı aşağıdaki gibidir. Burada yazdığımız sıralama önemlidir.

{False, True, 3.5, 5}

In [15]:
set_2 = {1, 0.0, True, 5, False, 3.5}
set_2
# burada önce 1 sonra True ve önce 0.0 sonra False yazdığımızdan 
# çıktı olarak bize 1 ve 0.0 ' ı yazdıracaktır.

{0.0, 1, 3.5, 5}

In [16]:
set_2[0] # kümeler index numaraları yazılarak indexlenemez.

TypeError: 'set' object is not subscriptable

In [17]:
list(set_2) # list iterable'larla çalışır bu yüzden kümeler iterable'dır
# fakat iterable özelliği olan indexlemeyi
# yapamayız bunun nedeni de kümelerde herhangi bir sıralama söz konusu olmadığındandır.

[0.0, 1, 3.5, 5]

In [18]:
len(set_2) # len iterable'larla çalışır o yüzden kümeler iterable'dır.

4

In [19]:
for i in set_2: # kümeler for döngüsü ile çalışır.
    print(i)

0.0
1
3.5
5

## union, intersection, difference

In [21]:
a = set("suzan")
b = set("yavuz")

In [22]:
a

{'a', 'n', 's', 'u', 'z'}

In [23]:
b

{'a', 'u', 'v', 'y', 'z'}

In [24]:
a.union(b) 
# her iki kümenin birleşmesi söz konusu ise ister böyle ister alttaki gibi yazabiliriz.

{'a', 'n', 's', 'u', 'v', 'y', 'z'}

In [25]:
b.union(a)

{'a', 'n', 's', 'u', 'v', 'y', 'z'}

In [26]:
a | b # bu şekilde yani "|" (pipe) işerati ilede union işlemini yapar kısayaol olarak.
# | işareti birleşimin kısayol işaretidir.

{'a', 'n', 's', 'u', 'v', 'y', 'z'}

In [27]:
a.intersection(b) # a keşisim b demektir bu ifade.

{'a', 'u', 'z'}

In [28]:
b.intersection(a) # b keşisim a demektir. yukarıdaki ile aynı sonucu verir.

{'a', 'u', 'z'}

In [29]:
a & b # & işareti kesişimin(intersection) kısayol işaretidir.

{'a', 'u', 'z'}

In [30]:
b & a # buda yukarıdaki ile aynı sonucu verir.

{'a', 'u', 'z'}

In [31]:
a.difference(a) 
# burada a fark b sorgulanır. yani a da olup b de olmayanlar sonuç olarak döner.

set()

In [33]:
b.difference(a) 
# burada b fark a sorgulanır. yani b de olup a da olmayanlar sonuç olarak döner.
# yukarıdaki sorgulamayla doğal olarak aynı sonuç vermez

{'v', 'y'}

In [34]:
a - b # "-" işareti difference işleminin kısayol işaretidir.

{'n', 's'}

In [35]:
b - a

{'v', 'y'}

In [36]:
set_3 = set("fıstık")
set_4 = set("fındık")

In [37]:
set_3

{'f', 'k', 's', 't', 'ı'}

In [38]:
set_4

{'d', 'f', 'k', 'n', 'ı'}

In [39]:
set_3 | set_4

{'d', 'f', 'k', 'n', 's', 't', 'ı'}

In [40]:
set_3 & set_4

{'f', 'k', 'ı'}

In [41]:
set_3 - set_4

{'s', 't'}

In [43]:
set_3 - set_4 | set_4 - set_3

{'d', 'n', 's', 't'}

In [44]:
set_3 ^ set_4 # bu "^" işaret ile sadece a kümesinde olan ve sadece b kümesinde olan elemanları
# birleştirerek bize sonuç olarak verir

{'d', 'n', 's', 't'}

# basic operations with sets

### clear()

In [46]:
set_3.clear() # içerisindeki elemanların tamamını siler bize boş küme verir. 
# bu durumda küme değil sadece elemanları silinir.
set_3

set()

### remove()

In [47]:
set_4.remove("f") # içerisine belirttiğimiz elemanı siler.

In [48]:
set_4

{'d', 'k', 'n', 'ı'}

### pop()

In [50]:
set_4.pop() # rastgele eleman siler o yüzden çok kullanılmaz.
# sildiği elemanı bize gösterir sonuç olarak.

'k'

### add()

In [52]:
set_3.add("a") # kümenin içine eleman ekler. kaç kere çalıştırırsanız çalıştırın 
# kümeler unique olduğundan sadece bir tane ekler aynı elemandan.
# add ile sadece bir eleman ekliyoruz.
set_3

{'a'}

In [53]:
set_3.update("techpro") 
# bu metodda içerisine iterable bir eleman verip onun tüm elemanlarını kümeye ekleyebiliyoruz.
set_3

{'a', 'c', 'e', 'h', 'o', 'p', 'r', 't'}

### issubset()

In [54]:
set_5 = set("selin")
set_6 = set("enes")

In [55]:
set_5

{'e', 'i', 'l', 'n', 's'}

In [56]:
set_6

{'e', 'n', 's'}

In [57]:
set_6.issubset(set_5) 
# set_6, set_5 in alt kümesidir sorusudur sonucu True yada False olur.

True

In [58]:
set_7 = set("sine")
set_8 = set("enis")

In [59]:
set_7.issubset(set_8) # iki aynı küme birbirinin alt kümesidir.

True

In [60]:
set_8.issubset(set_7)

True