# Tuples

In [1]:
# içerisine her tipten veri alabilir.
# immutable'dır değiştirilemez.
# iterable'dır. Tüm elemanlarına ulaşılabilir.
# listelere göre daha hızlı çalışır ve güvenlidir.

In [ ]:
tuple() # böyle 2 şekilde oluşturulabilir.
()

In [2]:
tuple("Techpro")

('T', 'e', 'c', 'h', 'p', 'r', 'o')

In [3]:
tuple([1,2,3,4,5]) # bu şekilde listeyi tuple'a çevirebiliriz.

(1, 2, 3, 4, 5)

In [4]:
tuple([1,2,3], "Techpro") 
# tuple fonksiyonu içine en fazla bir eleman alarak çalışır. 
# bu yüzden burada hata alırız çünkü iki eleman verdik

TypeError: tuple expected at most 1 argument, got 2

In [6]:
tuple_1 = ("Techpro", 3, 3.14, False, [1,2,3]) 
# her türlü veriyi içine alabilir.
tuple_1

('Techpro', 3, 3.14, False, [1, 2, 3])

In [7]:
name = "Başak"

In [8]:
tuple(name) 
# değişkenimiz eğer iterable ise tuple fonksiyonu ile tuple'a dönüştürebiliriz.

('B', 'a', 'ş', 'a', 'k')

In [9]:
pi_number = 3, 14
# eğer bu şekilde değişken değerlerini yazarken vigül ile ayırarak yazarsak bunu 
# python tuple olarak algılar ve bunu tuple olarak saklar.
# yani parantez aç kapa yapmadan da virgülle tuple oluşturabiliriz. 
pi_number

(3, 14)

In [10]:
("Techpro",) 
# eğer tek elamanlı bir tuple oluşturacaksak elemanın sonuna yukarıda olduğu gibi
# bir virgül koymamız gerekmektedir.

('Techpro',)

In [11]:
liste_1 = 3, 2, 5 # köşeli parantezi unutursak tuple oluşur bu durumda.
liste_1

(3, 2, 5)

In [12]:
[1, 2, 3] + [4, 5] # listelerde toplama işlemi yapılabilir. tek listede toplar.

[1, 2, 3, 4, 5]

In [13]:
[1, 2, 3] * 3 # listelerde çarpma işlemide yapılanilir her elemanı çarptığımız 
# sayı kadar tek bir listede toplar aynı string'teki gibi

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [14]:
(1, 2, 3) + (4, 5) 
# tuple'larda liste ve stringler gibi toplanabilir.

(1, 2, 3, 4, 5)

In [16]:
(1, 2, 3) * 3 # tuple'larda liste ve stringler gibi çarpılabilir.

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [17]:
("Techpro", 3, False) + ("Sedat")
# burada toplama işlemi yapmaz çünkü ikinci toplanan tuple değil stringtir.
# toplama sadece tuple tuple olarak yapılabilir.

TypeError: can only concatenate tuple (not "str") to tuple

In [18]:
("Techpro", 3, False) + ("Sedat",)
# burada her iki toplananda tuple olduğundan toplama işlemi yapılır.

('Techpro', 3, False, 'Sedat')

## indexing & Slicing

In [21]:
tuple_2 = ("Aslan", 4, True, ["Tülay", 4, 5, 6], ("Zeynep", 2, 3.14))
tuple_2

('Aslan', 4, True, ['Tülay', 4, 5, 6], ('Zeynep', 2, 3.14))

In [22]:
tuple_2[3][0] 
# indexleme ile tek bir elemana ulaşmak istersek bize onu kendi type'ında verir her zaman.

'Tülay'

In [23]:
tuple_2[4][1]

2

In [25]:
tuple_2[1:4] # slicing işlemini hangi type'ta yaparsak sonucu o type ta döner bize.

(4, True, ['Tülay', 4, 5, 6])

In [26]:
tuple_2[3:0:-1]

(['Tülay', 4, 5, 6], True, 4)

In [27]:
tuple_2

('Aslan', 4, True, ['Tülay', 4, 5, 6], ('Zeynep', 2, 3.14))

In [28]:
tuple_2[3] # bu işlemin sonucu bize liste olarak verir.

['Tülay', 4, 5, 6]

In [29]:
tuple_2[3].append(7)
# burada sonuç liste olduğundan liste methodlarını kullanarak işlem yapılabilir ve 
# tuple'ın içindeki bir listeye ekleme yapabiliriz. 
# bu durum tuple'ın immutable özelliğini değiştirmez.
# yani dönen çıktıya göre o çıktının özelliklerini kullanarak işlem yapabiliriz.

In [30]:
tuple_2 
# görüldüğü gibi liste methodunu kullanarak üstteki işlemi yaparak tuple'ın içindeki listeye
# eleman eklemiş olduk.

('Aslan', 4, True, ['Tülay', 4, 5, 6, 7], ('Zeynep', 2, 3.14))

## Tuple Methods

In [31]:
tuple_3 = (1, 4, 2, 5, 1, 3, 2, 4)

In [32]:
tuple_3.count(4) # tuple içerisindeki belirlediğimiz elemanı sayar.
# tuple'ın içinde olmayan bir eleman yazsak bile hata vermez yok ise bize o sayısını verir.

2

In [33]:
tuple_3.index(5) 
# belirlediğimiz elemanının hangi indexte olduğunu verir.
# eğer sorduğumuz eleman indexte yoksa hata verir.
# sorduğumuz eleman birden fazla var ise bize ilk gördüğü elemanın indexini verir.

3

# range()

In [34]:
range(4,10) 
# bu fonksiyon 4'den başlayıp  10'a kadar üretir yani çalışır. 
# fakat görüntüleyebilmek için list, tuple gibi bir tipte üretmek gerekir.
# tek başına range fonksiyonu ile görüntüleme yapamayız.

range(4, 10)

In [37]:
list(range(4, 10)) 
# range fonksiyonu iterable'dır. 
# Çünkü list fonksiyonu içine alıyor ve çalıştırıyor.
# list fonksiyonu sadece iterable çalıştırdığı için range fonksiyonu iterable'dır.

[4, 5, 6, 7, 8, 9]

In [36]:
tuple(range(4,10)) 
# aynı şekilde tuple'da çalıştırır. tuple'da iterable çalıştırır.

(4, 5, 6, 7, 8, 9)

In [38]:
range(4,10)[1] 
# bu şekilde range'in içindekileri indexleyerek görebiliriz.

5

In [40]:
list(range(10)) 
# range fonksiyonunun start defaultu 0'dır oradan başlar 10'a kadar verir sayıları.
# eğer range'e stop noktası vermezsek hata verir.
# tek değer girildiğinde onu stop noktası kabul eder.
# bu fonksiyonda float sayı üretilemez.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
list(range(2,10,2))
# burada fonksiyon 2'den başlar 10'a kadar 2'şer gider.
# burada ilk değer start ikinci değer stop üçüncü değer steptir.
# bu fonksiyon negatiften başlayıp pozitife gidebilir.

[2, 4, 6, 8]

In [42]:
list(range(10,2,-1)) 
# bu şekilde geriye doğru saydırabiliriz.

[10, 9, 8, 7, 6, 5, 4, 3]

In [43]:
list(range(2,50,2)) 
# burada alt alta yazdırdı bunu print ile yazdırırsak yanyana yazdırır.

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

In [44]:
print(list(range(2,50,2)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]